<a href="https://colab.research.google.com/github/jarapha/TalentoTech/blob/main/Taller_Iniciacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
df_ventas = pd.read_excel('/content/example_ventas.xlsx')

In [ ]:
df_ventas.head()

       Fecha   Region      Producto Vendedor  Ventas
0 2024-01-31  Central    Accesorios    David    8287
1 2024-02-01  Central    Accesorios    Karen    6909
2 2024-02-02  Central  Dispositivos    David   11420
3 2024-02-03  Central  Dispositivos    Karen   12948
4 2024-02-04  Central      Sistemas    David   20098

In [ ]:
#Ejercicio 1: Mostrar las primeras filas del DataFrame
print("Ejercicio 1: Mostrar las primeras filas del DataFrame")
print(df_ventas.head(5))

Ejercicio 1: Mostrar las primeras filas del DataFrame
       Fecha   Region      Producto Vendedor  Ventas
0 2024-01-31  Central    Accesorios    David    8287
1 2024-02-01  Central    Accesorios    Karen    6909
2 2024-02-02  Central  Dispositivos    David   11420
3 2024-02-03  Central  Dispositivos    Karen   12948
4 2024-02-04  Central      Sistemas    David   20098

In [ ]:
#Ejecicio 2: Calcular el total de ventas por región
print("Ejecicio 2: Calcular el total de ventas por region")
ventas_por_region = df_ventas.groupby('Region')['Ventas'].sum()
print(ventas_por_region)
print("\n")
print(df_ventas.head(10))

Ejecicio 2: Calcular el total de ventas por region
Region
Central    90295
Este       63555
Oeste      85683
Name: Ventas, dtype: int64


       Fecha   Region      Producto Vendedor  Ventas
0 2024-01-31  Central    Accesorios    David    8287
1 2024-02-01  Central    Accesorios    Karen    6909
2 2024-02-02  Central  Dispositivos    David   11420
3 2024-02-03  Central  Dispositivos    Karen   12948
4 2024-02-04  Central      Sistemas    David   20098
5 2024-02-05  Central      Sistemas    Karen   30633
6 2024-02-06     Este    Accesorios      Ana    9323
7 2024-02-07     Este    Accesorios    Lucas    7667
8 2024-02-08     Este  Dispositivos      Ana   10348
9 2024-02-09     Este  Dispositivos    Lucas    9312

In [ ]:
#Ejecricio 3: Filtar el dataFrame para mostrar solo las ventas realizadas por David
print("Ejecricio 3: Filtar el dataFrame para mostrar solo las ventas realizadas por David")
ventas_david= df_ventas[df_ventas['Ventas'] == 'David']
print(ventas_david)

Ejecricio 3: Filtar el dataFrame para mostrar solo las ventas realizadas por David
Empty DataFrame
Columns: [Fecha, Region, Producto, Vendedor, Ventas]
Index: []

In [ ]:
#Ejercicio 4: Calcular el promedio de ventas por región
print("Ejercicio 4: Calcular el rpomedio de ventas por región")
ventas_por_producto = df.groupby('Region')['Ventas'].mean()
print(ventas_por_producto)

Ejercicio 4: Calcular el rpomedio de ventas por región
Region
Central    15049.166667
Este       10592.500000
Oeste      14280.500000
Name: Ventas, dtype: float64

In [ ]:
#Ejercicio 5: Calcular el promedio de ventas por región con dos decimales
print("Ejecricio 5: Calcular el promedio de ventas por región con dos decimales")
ventas_por_producto = df.groupby('Region')['Ventas'].mean().round(2)
print(ventas_por_producto)

Ejecricio 5: Calcular el promedio de venatas por región con dos decimales
Region
Central    15049.17
Este       10592.50
Oeste      14280.50
Name: Ventas, dtype: float64

In [ ]:
#Ejercicio 6: Ordenar el DataFrame por ventas en orden descendente
print("Ejercicio 6: Ordenar el DataFrame por ventas en orden descendente")
df_ordenado = df.sort_values(by='Ventas', ascending=False)
print(df_ordenado)

Ejercicio 6: Ordenar el DataFrame por ventas en orden descendente
        Fecha   Region      Producto Vendedor  Ventas
16 2024-02-16    Oeste      Sistemas    Kevin   32855
5  2024-02-05  Central      Sistemas    Karen   30633
17 2024-02-17    Oeste      Sistemas     Sara   23151
4  2024-02-04  Central      Sistemas    David   20098
10 2024-02-10     Este      Sistemas      Ana   13531
11 2024-02-11     Este      Sistemas    Lucas   13374
3  2024-02-03  Central  Dispositivos    Karen   12948
2  2024-02-02  Central  Dispositivos    David   11420
14 2024-02-14    Oeste  Dispositivos    Kevin   10711
8  2024-02-08     Este  Dispositivos      Ana   10348
6  2024-02-06     Este    Accesorios      Ana    9323
9  2024-02-09     Este  Dispositivos    Lucas    9312
15 2024-02-15    Oeste  Dispositivos     Sara    8780
0  2024-01-31  Central    Accesorios    David    8287
7  2024-02-07     Este    Accesorios    Lucas    7667
1  2024-02-01  Central    Accesorios    Karen    6909
13 2024-02-13    Oeste    Accesorios     Sara    5442
12 2024-02-12    Oeste    Accesorios    Kevin    4744

In [ ]:
#Ejercicio 7: Filtar las filas con ventas mayores a 10000 y ordenar de mayor a menor
print("Ejercicio 7: Filtar las filas con ventas mayores a 10000 y ordenar de mayor a menor")
df_filtrado = df_ventas.sort_values(by='Ventas', ascending=True)
print(df_filtrado)
print("\n")

Ejercicio 7: Filtar las filas con ventas mayores a 10000 y ordenar de mayo a menor
        Fecha   Region      Producto Vendedor  Ventas
12 2024-02-12    Oeste    Accesorios    Kevin    4744
13 2024-02-13    Oeste    Accesorios     Sara    5442
1  2024-02-01  Central    Accesorios    Karen    6909
7  2024-02-07     Este    Accesorios    Lucas    7667
0  2024-01-31  Central    Accesorios    David    8287
15 2024-02-15    Oeste  Dispositivos     Sara    8780
9  2024-02-09     Este  Dispositivos    Lucas    9312
6  2024-02-06     Este    Accesorios      Ana    9323
8  2024-02-08     Este  Dispositivos      Ana   10348
14 2024-02-14    Oeste  Dispositivos    Kevin   10711
2  2024-02-02  Central  Dispositivos    David   11420
3  2024-02-03  Central  Dispositivos    Karen   12948
11 2024-02-11     Este      Sistemas    Lucas   13374
10 2024-02-10     Este      Sistemas      Ana   13531
4  2024-02-04  Central      Sistemas    David   20098
17 2024-02-17    Oeste      Sistemas     Sara   23151
5  2024-02-05  Central      Sistemas    Karen   30633
16 2024-02-16    Oeste      Sistemas    Kevin   32855

In [7]:
#Ejercicio 8: Crear una columna y calcular una comisión del 2% para el vendedor
print("Ejercicio 8: Crear una columna y calcular una comisión del 2% para el vendedor")
comision = 0.02
df_comision= df_ventas.copy()
df_comision['Comision Venta']  = df_comision['Ventas']*comision
print(df_comision)

Ejercicio 8: Crear una columna y calcular una comisión del 2% para el vendedor
        Fecha   Region      Producto Vendedor  Ventas  Comision Venta
0  2024-01-31  Central    Accesorios    David    8287          165.74
1  2024-02-01  Central    Accesorios    Karen    6909          138.18
2  2024-02-02  Central  Dispositivos    David   11420          228.40
3  2024-02-03  Central  Dispositivos    Karen   12948          258.96
4  2024-02-04  Central      Sistemas    David   20098          401.96
5  2024-02-05  Central      Sistemas    Karen   30633          612.66
6  2024-02-06     Este    Accesorios      Ana    9323          186.46
7  2024-02-07     Este    Accesorios    Lucas    7667          153.34
8  2024-02-08     Este  Dispositivos      Ana   10348          206.96
9  2024-02-09     Este  Dispositivos    Lucas    9312          186.24
10 2024-02-10     Este      Sistemas      Ana   13531          270.62
11 2024-02-11     Este      Sistemas    Lucas   13374          267.48
12 2024-02-12    Oeste    Accesorios    Kevin    4744           94.88
13 2024-02-13    Oeste    Accesorios     Sara    5442          108.84
14 2024-02-14    Oeste  Dispositivos    Kevin   10711          214.22
15 2024-02-15    Oeste  Dispositivos     Sara    8780          175.60
16 2024-02-16    Oeste      Sistemas    Kevin   32855          657.10
17 2024-02-17    Oeste      Sistemas     Sara   23151          463.02

In [ ]:
#Ejercicio 9: Eliminar la columna "Vendedor"
print("Ejercicio 9: Eliminar la columna Vendedor")
df_sin_vendedor = df_ventas.drop(columns=['Vendedor'])
print(df_sin_vendedor)
print("\n")

Ejercicio 9: Eliminar la columna Vendedor
        Fecha   Region      Producto  Ventas
0  2024-01-31  Central    Accesorios    8287
1  2024-02-01  Central    Accesorios    6909
2  2024-02-02  Central  Dispositivos   11420
3  2024-02-03  Central  Dispositivos   12948
4  2024-02-04  Central      Sistemas   20098
5  2024-02-05  Central      Sistemas   30633
6  2024-02-06     Este    Accesorios    9323
7  2024-02-07     Este    Accesorios    7667
8  2024-02-08     Este  Dispositivos   10348
9  2024-02-09     Este  Dispositivos    9312
10 2024-02-10     Este      Sistemas   13531
11 2024-02-11     Este      Sistemas   13374
12 2024-02-12    Oeste    Accesorios    4744
13 2024-02-13    Oeste    Accesorios    5442
14 2024-02-14    Oeste  Dispositivos   10711
15 2024-02-15    Oeste  Dispositivos    8780
16 2024-02-16    Oeste      Sistemas   32855
17 2024-02-17    Oeste      Sistemas   23151